.note {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px auto 0;
  padding: 1rem 2rem;
  width: 80%;
  height: auto;
  padding: 30px 35px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, 
              -13px -13px 20px #ffffff;
}

.topic {
  border: none;
  outline:none;
  background: none;
  font-size: 16px;
  color: #555;
  padding: 3px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}

.icon {
  color: #555;
  margin: 16px 0px 0px 20px;
}

.content textarea{
  width: 100%;
  border: none;
  outline:none;
  background: none;
  font-size: 16px;
  color: black;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #cbced1,
              -8px -8px 5px #ffffff,
             inset 8px 8px 5px #cbced1,
             inset -8px -8px 5px #ffffff;
}