.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  max-width: 1200px;
  width: 100%;
  margin-top: 15px;
}

.main-logo {
  background:url("pencil1.png");
  background-size: contain;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  margin-left: 20px;
  box-shadow:
  2px 2px 5px #a7aaaf,
  -2px -2px 5px #ffffff
  ;
}

.title {
  color: #3885c4
}

ul {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}

.navbar li {
  cursor: pointer;
  border-radius: 10%;
  box-shadow:
  2px 2px 5px #a7aaaf,
  -2px -2px 5px #ffffff;
  margin-right: 15px;
  padding: 5px 10px;
}
.navbar li a {
  color: #f06cb4;
  font-weight: bold;
}
li a:hover{
  color: #08b2eb;
}

.menu-bar {
  font-size: 2.2rem;
  margin-right: 5%;
  cursor: pointer;
  display: none;
  border-radius: 10%;
  background-color: #ecf0f3;
  color:#f549a8;
  box-shadow:
  2px 2px 5px #a7aaaf,
  -2px -2px 5px #ffffff
  ;
}

.close-menu {
  font-size: 2.3rem;
  font-weight: 900;
  margin-right: 5%;
  cursor: pointer;
  display: none;
  color: white;
  border-radius: 10%;
  box-shadow:
  2px 2px 5px #a7aaaf,
  -2px -2px 5px #ffffff
  ;
}

@media screen and (max-width: 800px) {
  .menu-content {
    z-index: 2;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -300px;
    transition: 300ms ease right;
    flex-direction: column-reverse;
    background-color:#f549a8;
    opacity: .85;
    box-shadow:
    3px 3px 12px #a7aaaf,
    -3px -3px 12px#a7aaaf
    ;
  }

  .menu-content.active {
    right: 0;
    z-index: 2;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin-top: 80px;
  }

  .navbar li {
    box-shadow: none;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .navbar li a {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: white;
  }

  li a:hover{
    color: #3885c4;
  }

  .menu-bar {
    display: flex;
    z-index: 100;
  }

  .close-menu {
    display: flex;
    z-index: 100;
  }
}